* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  color: white;
}

.app {
  padding: 42px;
  width: 600px;
}

.results {
  margin-top: 8px;
  background-color: darkslategray;
}

label {
  display: block;
  font-size: 1.5rem;
}

input {
  height: 35px;
  width: 340px;
  margin-right: 8px;
}

button {
  height: 35px;
  cursor: pointer;
}
